:root {
    --off-white: #eeeeee;
    --teal-v1: #00adb5;
    --dark-grey: #393e46;
}

header {
    background-color: var(--dark-grey);
    color: var(--off-white);
}

h3 {
    margin-left: 1rem;
}

body {
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid: min-content 1fr / 1fr minmax(20rem, 1fr) 1fr;
    gap: 1em;
    background-color: var(--off-white);
}

header {
    grid-column: 1/-1;
}

.quiz-container {
    grid-column: 2/3;
    align-self: center;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-choice {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.choice {
    flex: 0 0 45%;
    margin-bottom: 0.75rem;
    border: 2px solid var(--teal-v1);
    background-color: var(--off-white);
    color: var(--teal-v1);
    height: 2.5rem;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
}
.choice:hover {
    background-color: var(--teal-v1);
    color: var(--off-white);
}

.play-icon {
    color: var(--teal-v1);
    font-size: 6rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

@media (min-width: 1000px) {
    .play-icon {
        font-size: 8rem;
    }
}
