:root {
    --off-white: #eeeeee;
    --teal-v1: #00adb5;
    --dark-grey: #393e46;
}

header {
    background-color: var(--dark-grey);
    color: var(--off-white);
}

h3 {
    margin-left: 1em;
}

body {
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid: min-content 1fr/1fr;
    gap: 1em;
    background-color: var(--off-white);
}

.quiz-container {
    justify-self: center;
    align-self: center;
}

/* .quiz {
    display: flex;
    justify-content: center;
} */

.play-icon {
    color: var(--teal-v1);
}
